<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>simStock21.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>30</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1EA30BB8F7F56C45AA46F7EBE36C3A4AE5BB2E9E</string>
				<key>dateExpires</key>
				<string>2025/1/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1EA30BB8F7F56C45AA46F7EBE36C3A4AE5BB2E9E</string>
						<key>dateExpires</key>
						<string>2025/1/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>QQP5F43Z2T.com.mystock.simStock21.simStockEx</string>
						<key>com.apple.developer.team-identifier</key>
						<string>QQP5F43Z2T</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.mystock.simStock21</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>simStockEx.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>17e057d5-4eb4-4341-accb-b6e909c60a46</string>
						<key>dateExpires</key>
						<string>2025/2/3</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.mystock.simStock21.simStockEx</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QQP5F43Z2T</string>
						<key>name</key>
						<string>Peiyu Huang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QQP5F43Z2T.com.mystock.simStock21</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QQP5F43Z2T</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.mystock.simStock21</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>simStock21.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9d5bde90-0a40-4c13-8f16-f379c21ea10f</string>
				<key>dateExpires</key>
				<string>2025/2/3</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.mystock.simStock21</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QQP5F43Z2T</string>
				<key>name</key>
				<string>Peiyu Huang</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
