<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>simStock21.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>23</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E0D60C5C950A1BBFBAD2A8ACB30871A5BBFA8C81</string>
				<key>dateExpires</key>
				<string>2024/3/1</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>22</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E0D60C5C950A1BBFBAD2A8ACB30871A5BBFA8C81</string>
						<key>dateExpires</key>
						<string>2024/3/1</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>QQP5F43Z2T.com.mystock.simStock21.simStockEx</string>
						<key>com.apple.developer.team-identifier</key>
						<string>QQP5F43Z2T</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.mystock.simStock21</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>simStockEx.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>825b90f8-873d-4775-9d5a-ee81e83d3544</string>
						<key>dateExpires</key>
						<string>2024/3/1</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.mystock.simStock21.simStockEx</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QQP5F43Z2T</string>
						<key>name</key>
						<string>Peiyu Huang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QQP5F43Z2T.com.mystock.simStock21</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QQP5F43Z2T</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.mystock.simStock21</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>simStock21.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ed057452-6e90-4823-b76d-38df8ed8f6d1</string>
				<key>dateExpires</key>
				<string>2024/3/1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.mystock.simStock21</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QQP5F43Z2T</string>
				<key>name</key>
				<string>Peiyu Huang</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
