<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>simStock21.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>33</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A610A2357D3CF43CF766A0108B56559A2D2C0988</string>
				<key>dateExpires</key>
				<string>2026/2/4</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>33</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A610A2357D3CF43CF766A0108B56559A2D2C0988</string>
						<key>dateExpires</key>
						<string>2026/2/4</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>QQP5F43Z2T.com.mystock.simStock21.simStockEx</string>
						<key>com.apple.developer.team-identifier</key>
						<string>QQP5F43Z2T</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.mystock.simStock21</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>simStockEx.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>be687c68-4d30-42f0-8e96-6a054ede4850</string>
						<key>dateExpires</key>
						<string>2026/2/4</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.mystock.simStock21.simStockEx</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QQP5F43Z2T</string>
						<key>name</key>
						<string>Peiyu Huang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QQP5F43Z2T.com.mystock.simStock21</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QQP5F43Z2T</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.mystock.simStock21</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>simStock21.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cd084720-097e-4e27-9741-3e7ffaf9ea60</string>
				<key>dateExpires</key>
				<string>2026/2/4</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.mystock.simStock21</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QQP5F43Z2T</string>
				<key>name</key>
				<string>Peiyu Huang</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
